<h1>{{ title }}</h1>

<nav>
    <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
    &nbsp;
    <a [routerLink]="['/zapatillas']" [routerLinkActive]="['active']">Zapataillas</a>
    &nbsp;
    <a [routerLink]="['/videojuego']" [routerLinkActive]="['active']">Videojuegos</a>
    &nbsp;
    <a [routerLink]="['/curso']" [routerLinkActive]="['active']">Cursos</a>
    &nbsp;
    <a [routerLink]="['/external']" [routerLinkActive]="['active']">Externo</a>
    &nbsp;
    <a [routerLink]="['/contact']" [routerLinkActive]="['active']">Contacto</a>
</nav>

<router-outlet></router-outlet>