<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre mí</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam doloribus molestias consectetur, similique,
        harum temporibus dolorum minima quas doloremque deserunt quia eum quod sit deleniti qui ducimus voluptatibus.
        Provident, officiis!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam doloribus molestias consectetur, similique,
        harum temporibus dolorum minima quas doloremque deserunt quia eum quod sit deleniti qui ducimus voluptatibus.
        Provident, officiis!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam doloribus molestias consectetur, similique,
        harum temporibus dolorum minima quas doloremque deserunt quia eum quod sit deleniti qui ducimus voluptatibus.
        Provident, officiis!
    </p>
</article>