<header>
  <ul>
    <li><a [routerLink]="['/about']" [routerLinkActive]="['actived']">About</a></li>
    <li><a [routerLink]="['/projects']" [routerLinkActive]="['actived']">Projects</a></li>
    <li id="logo"><a href="#">CP</a></li>
    <li><a [routerLink]="['/create-project']" [routerLinkActive]="['actived']">Create project</a></li>
    <li><a [routerLink]="['/contact']" [routerLinkActive]="['actived']">Contact</a></li>
  </ul>
</header>

<section id="content">
  <router-outlet />
</section>

<footer>
  "Sin requerimientos o diseño, programar sólo es el arte de agregar errores a un archivo vacío" .- Louis Srygle &copy;
</footer>